body{
    height: 200vh;
}

div{
    margin-bottom: 30px;
}

.exemplo{
    width: 300px;
    height: 300px;
    background-image: url(paisagem1.jpg);
    background-size: cover;
    border: 1px solid red;
    overflow: auto;
    color: white;
}

#fixed{
    background-attachment: fixed;
}

#scroll{
    background-attachment: scroll;
}

#local{
    background-attachment: local;
}