div{
    margin-bottom: 30px;
}

.exemplo{
    width: 300px;
    height: 300px;
    border: 15px dashed palegreen;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background:
    url(../images/paisagem2.jpg) /* image */
center top / 300px 300px /*position / size*/
no-repeat /*repeat*/
fixed /*attachment*/
padding-box /*origin*/
content-box /*clip*/
orange /*color*/
;
}